---
Language: Cpp
BasedOnStyle: WebKit
TabWidth: 4
UseTab: ForIndentation
Standard: Cpp11
ColumnLimit: 100
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: None
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4
ConstructorInitializerAllOnOneLineOrOnePerLine: true
CommentPragmas: "^!|^:"
AlignTrailingComments: true
BreakBeforeBraces: Custom
BreakBeforeBinaryOperators: None
BraceWrapping:
    AfterClass: true
    AfterControlStatement: true
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: false
    AfterStruct: true
    AfterUnion: false
    BeforeCatch: false
    BeforeElse: true
    BeforeLambdaBody: true
    IndentBraces: false
ForEachMacros:   [ foreach, Q_FOREACH, BOOST_FOREACH, forever, Q_FOREVER, QBENCHMARK, QBENCHMARK_ONCE ]
NamespaceIndentation: None
SortIncludes: false
SpaceAfterTemplateKeyword: false
LambdaBodyIndentation: OuterScope
...
