# main executable
sloppygui

# libraries
*.so
*.so.*

# qmake generated Makefile
Makefile

# asciidoc generated man page and xml document
docs/man/sloppygui.6
docs/man/sloppygui.6.xml

# doxygen generated api documents
docs/api/html/

# temporary directories used by qmake and compiler
.rcc/
.moc/
.obj/

# other temporary files
*.h~
*.cpp~
ui_*.h

# files created by KDevelop
Doxyfile
sloppygui.kdevelop
sloppygui.kdevelop.pcs
sloppygui.kdevses

