# main executables
cutechess
cutechess-cli
cutechess.app/
cutechess.exe
cutechess-cli.exe

# test executables
test_board

# libraries
*.so
*.so.*
*.dylib
*.dll

# qmake generated Makefile
Makefile

# asciidoc generated man page and xml document
docs/cutechess*.6
docs/cutechess*.xml
docs/cutechess*.html

# doxygen generated api documents
docs/api/html/

# temporary directories used by qmake and compiler
.rcc/
.moc/
.obj/

# other temporary files
*~
*.a
ui_*.h

# files created by MinGW
*.Debug
*.Release

# files created by KDevelop
Doxyfile
*.kdevelop
*.kdevelop.pcs
*.kdevses

# files created by Qt Creator
*.pro.user*
qtc-gdbmacros/

